/** global */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
h1 {
  margin-top: 0;
  color: red;
}
footer {
  position: fixed;
  bottom: 0;
  margin-left: 2%;
}

/** id */
#root {
  width: 100%;
  min-height: 100%;

  background-color: black;
  color: white;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
